
.img-add-annonce{
	float: right;
}

.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.error-form{
	color: red;
}

.reservationButton{
	float : right;
}

.info-perso{
	background: burlywood;
	font-weight: bold;
	text-align: center;
}

input[type=submit] {
	float : right;
	font-size:1.2em;
	font-weight:normal;
}
